@charset "utf-8";


body{
    background: url(../images/paper-1074131_1920.jpg);
    background-size: cover;
    max-width: 100vw;
}


#bodyBackgroundControl{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.452);
    z-index: -10;
   
}

header {
    
    width: 100%;
    background-color: brown;
}



#subHeader {
    background-image: url(../images/wood-591631_1920.jpg);
    background-size: cover;
    text-align: center;
    padding: calc(1.5vh + 20px);
    font-family: Trebuchet MS, Garamond, Tahoma ;
    font-size: calc(2vw + 10px);
    object-fit: contain;
}



#navi {
    display:none;
}

#navi > img {
    padding:20px 0vw 20px 0vw;
    max-width: 20px;
}

nav {
    border-top: rgb(95, 236, 238) solid 4px;
    border-bottom: rgb(95, 236, 238) solid 4px;
    display: inline-block;
    padding:0px 7vw 0px 7vw;
    background-color: rgba(255, 170, 67, 0.781);
    font-size: calc(12px + 0.7vh);
    width: calc(100% - 14vw);

}

.fillSpace{
    display: block;
    width: 100%;
    height: 100%;
    padding:20px 0vw 20px 0vw;
}

nav#navBar > ul {
    max-width: 86vw;
}

nav#navBar > ul > li{
    display: inline-block;
    width: 25%;
    text-align: center;
    white-space: nowrap;
    

}

nav#navBar > ul > li:hover{
    background-color: pink;
}


#content{
    width: calc(100% - 14vw - 60px);
    margin: 40px 7vw 50px 7vw;
    
    background-color: beige;
    border:  30px solid transparent;
    border-image: url(../images/Border_Image.png) 25 round;
    max-width: 100%
}

#innerBorder{
    border:rgb(95, 236, 238) dotted 9px;
    padding: 35px 10px 35px 10px;
}

footer{
    background-color: rgb(95, 236, 238);
    text-align: center;
    border-top:8px solid teal;
    max-width: 100%;
    font-size: 20px;
    display:flex;
    flex-wrap: wrap;
}

#tagLine{
    width: 100vw;
    padding:5px;
    color:rgb(133, 0, 133);
    background-color: rgba(136, 171, 236, 0.205);

    border-bottom:dotted 5px teal ;
    text-shadow: -1px -1px 1px white,  
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white;

}

.fItem{
    margin-top: 10px;
    width: 50%;
}


.fAddress:hover{
    text-decoration: underline;
    color: crimson;
}

#outsideForm{
    width: 300px;
    margin-left:calc(50% - 150px);
}




/* ------------------Home-------------------- */

.foodPics{
    display: inline;
    max-width: 100%;
    width: calc(25% );
    font-size: 0px;
    float: left;
    background-color: brown;
    opacity: 60%;
    transition: opacity .3s ease-in ;
    -ms-transition: opacity .3s ease-in ;
    -o-transition: opacity .3s ease-in ; 
    -moz-transition: opacity .3s ease-in ; 
    -webkit-transition: opacity .3s ease-in ; 
}

.foodPics:hover{
    opacity: 1;
}
.last2{
    width: 50%;
    width: calc(50% );
}

#activeContent{
    padding-top: 35px;
    clear:both;
}

.foodSection{
    text-align: center;
    background-color: rgba(169, 169, 169, 0.685);
}

.foodOption{
    border-bottom: dashed rgb(95, 236, 238) 3px;
}

.pizzaPart{
    padding: 4px 5px 0px 8px;
}

.buildPizza{
    column-count: 2;
    background-color: rgba(169, 169, 169, 0.349);
    padding-top:5px;
    clear:both;
}

.buildPizza > div > ul > li:nth-of-type(even){
    background-color: rgba(255, 255, 255, 0.349);
}

/*------------contact-----------*/
.inputFields{
    width:calc(100% - 4px);
    
}

#inputFieldA{
    width:calc(100% - 2);
}



#textAreaP{
    margin-bottom:0;
}

textarea{
    max-width: calc(100%);
    min-width: calc(100%);
    max-height: 300px;
    min-height: 100px;
    padding: 0;

}

#buttonP{
    margin-top:0;
    margin-bottom: 0px;
}

#buttonSub{

    height: 45px;
    width: 100px;
    background-color: teal;
    color: #ffffff;
}

@media screen and (min-height:800px){
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: calc(1.5vh + 10px);
        max-height: 23vh;
    }
    
    #content{
        margin-bottom: calc(19vh + 80px);
        
    }

}


@media screen and (min-width:1200px){


    nav {
        font-size: calc(12px + 0.7vw);
       
    }

    footer{
        font-size: calc(1vw + 10px);
    }


    .icons{
        object-fit: contain;
        width: 3vw;
        max-width: 80px;
    }

    #content{
        margin-bottom: calc(15vh + 80px);
        font-size: calc(14px + 0.7vw);
        border-width:  40px;
        width: calc(100% - 14vw - 80px);
    }
}


@media screen and (max-width:600px){


    .buildPizza{
        column-count: 1;
    }

    .buildPizza > div > ul > li , .buildPizza > li{
        text-align: center;
    }

    #navi{
        display: block;
        width: 100%;
    }

    nav > ul {
        display: none;
        
    }

    #navi:hover + ul, nav > ul:hover {
        display: block;
      }

    nav#navBar > ul > li {
        padding:10px 0vw 10px 0vw;
        display: block;
        width: 100%;
    }

    #content{
        margin: 0px 0px 0px 0px;
        padding: 30px 0px 30px 0px;
        width: calc(100% - 60px);
        max-width: 100%;
        
    }

    #innerBorder{
    border:none;
    padding: 5px 5px 5px 5px;
}

    footer{
        position: static;
        font-size: calc(2vw + 10px);
        max-height: 100vh;
    }

    .fItem{
        width: 100%;   
    }
}



@keyframes foodPictures1{

    /* number of pictures x 2 - 1 = 7   ->   100/7= 14.285 */

    0% {background-image: url(../images/image.jpg);}
    14.285% {background-image: url(../images/image.jpg);}
    28.571% {background-image: url(../images/Pizza.jpg);}
    42.857% {background-image: url(../images/Pizza.jpg);}
    57.142% {background-image: url(../images/Pizza2.jpg);}
    71.428% {background-image: url(../images/Pizza2.jpg);}
    85.714% {background-image: url(../images/PlaceHolder_Pizza.jpg);}
    100% {background-image: url(../images/PlaceHolder_Pizza.jpg);}
}

