@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Review Assignment
   
   Design Style Sheet for Tree and Book Family Home Page
  Author: Jeffrey Arriaga
    Date:   10/04/2020
   
   Filename: tb_visual3.css

*/

/* HTML Styles */
html {
  background-image: url(../images/tb_back5.png);
}


/* Page Body Styles */
body {
  border-right: 3px solid rgb(169, 130, 88);
  border-left: 3px solid rgb(169, 130, 88);

  box-shadow: 25px 0px 35px rgb(53, 21, 0), -25px 0px 35px rgb(53, 21, 0);
}


/* Main Styles */
main {
  background-image: url(../images/tb_back7.png);
  background-size: cover;
  background-origin: padding-box;
  box-shadow: inset rgb(71, 71, 71) -10px -10px 25px,
  inset rgb(71, 71, 71) 10px 10px 25px;
}

main > h1{
  text-shadow: 1px 0px rgb(221, 221, 221), 5px 20px rgba(41, 41, 41, 0.9);

}


/* Figure Box Styles */

figure {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:auto;
  margin-right:auto;
  width: 70%;
}

figure > img {
  border-width: 25px;
  border-style: solid;;
  border-image: url(../images/tb_frame.png) 60 stretch;
  display: block;
  width: 100%;
  filter: sepia(80%);
  -webkit-filter: sepia(80%);
}

figcaption {
  font-family: 'Palatino Linotype', Palatino, 'Times New Roman', serif;
  font-style: italic;
  padding: 10px 0px 10px 0px;
  text-align: center;
}


/* Article Styles */
article {
  background: url(../images/tb_back6.png) right bottom / 15% cover;
  border-right:8px double rgb(147, 116, 68); 
  border-bottom:8px double rgb(147, 116, 68);
  

  border-bottom-right-radius: 80px;
  box-shadow: inset -10px -10px 25px rgba(184, 154, 112, 0.7);

}


/* Footer Styles */

footer {
  background: linear-gradient(325deg, rgb(180, 148, 104) 20%, rgb(40, 33, 23) 60%);
}
