/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: Jeffrey Arriaga
   Date:   11/15/2020

   Filename: rb_validate.css

*/


/* Validation Styles */


input:focus , select:focus, textarea:focus{
  background-color: rgb(255, 255, 180);
}

#nameBox:focus:valid ,#phoneBox:focus:valid {
  background: rgb(220, 255, 220) url(rb_okay.png) right / no-repeat;
} 


#nameBox:focus:invalid ,#phoneBox:focus:valid {
  background: rgb(255, 230, 230) url(rb_warning.png) right / no-repeat;
}
