@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Review Assignment

   Columns Style Sheet
   Author: Jeffrey Arriaga
   Date:   11/1/2020

   Filename:         dlr_columns2.css

*/



/* Column Styles */


@media screen and (min-width: 641px) {

  p {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;

    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    
    -moz-column-rule: 1px solid black;
    -webkit-column-rule: 1px solid black;
    column-rule: 1px solid black;

  }

}
