@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Calendar Style Sheet
   Author: Jeffrey Arriaga
   Date:   11-1-2020

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/


@media screen and (max-width:640px){
    table, tbody, tr, td, th, caption {
        display:block;

    }
    thead, h1{
        display: none;
    }
    caption{
        color:white;
        background-color: gray;
        font-size: 1.5em;
        line-height: 2em;
    }

    td {
        border: dotted 1px gray;
        color:rgb(11, 12, 145);
        position: relative;
        padding-left: 40%;
        min-height: 40px;
    }

    tr:nth-of-type(odd){
        background-color:  rgb(255, 235, 178);
        border: 2px solid gray;
    }

    td:before{
        content: attr(data-date);
        position: absolute;
        top:0;
        left:0;
        width: 40%;
        padding:5px;
    }

}


/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/


@media screen and (min-width:641px){
    table {
        background: url("../images/lht_photo1.png") bottom right / 40% auto no-repeat;

        border: 6px double rgb(154, 64, 3);
        border-collapse: collapse;
        margin: 20px auto 20px auto;
        width: 85%;
        table-layout: fixed;
    }

    th, td{
        border: solid 1px grey;
        font-size: .85em;
        padding: 5px;
        vertical-align: top;
        width: 14.28%;
        word-wrap: break-word;
    }

    td{
        background-color: rgba(171,
        171, 171, 0.6);
        color:rgb(11, 12, 145);
    }

    td[data-date*="Feb"]{
        background-color: rgba(232,
        214, 148, 0.6);
        box-shadow:  0px 0px 20px gray inset;
    }

    caption{
        caption-side: top;
        text-align: center;
        padding-bottom: 10px;
        font-size: 1.2em;
        letter-spacing: 3px;
    }

    thead > tr > th{
        background-color:  rgb(154, 64, 3) ;
        color:white;
    }





}

