@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author: Jeffrey Arriaga
   Date:   10/18/2020 
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/


/* Hidden Objects */

nav, footer, article { display: none;}

section#sheet {
    width: 6in;
    margin: 0 auto 0 auto;
}

.size1{
    width: 5in;
}
.size2{
    width: 3in;
}
.size3{
    width: 2in;
}
.size4{
    width: 1.5in;
}




/* Comic Book Sheet Styles */












