@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Jeffrey Arriaga
   Date:   09/20/2020
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html{
    height: 100%;
}

body{
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

header, ul, nav, li, a {
    box-sizing: border-box;
}



/* Row Styles */

/* This may not be required, said to just expand, not to clear prev columns also --------------- */
.row{
    clear:both;
}
/* ------------------------ */

.row::after {
    clear:both;
    content:"";
    display:block;

}




/* Page Header Styles */

img[src$="sp_logo.png"]{
    display:block;
    width: 70%;
    float:left;
}




/* Horizontal Navigation List Styles */




/* Topics Styles */






/* HR Styles */




/* Customer Comment Styles */



/* Footer Styles */


